:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  width: 100%;
  
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: absolute;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}

.search-wraper {
  align-self: center;
  font-size: 1em;
  display: flex;
  flex-direction: row;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

#cart-icon {
  width: 25px;
}
.cart:hover #cart-icon {
  transition: initial;
  fill: gray !important;
}

.badge:after {
  display: inline-block;
  color: #603283;
  font-weight: bold;
  content: attr(value);
  font-size: 12px;
  background: #ff942e;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  padding: 4px;
  position: relative;
  left: -10px;
  top: -20px;
  opacity: 0.8;
}
/* End cart icon styles */

.sort-menu {
  text-align: right;
}

.product-grid {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: var(--dark-grey);
  padding-left: 0;
}

.product-grid > li {
  width: 150px;
  /* border: 1px solid var(--light-grey); */
  padding: 0.5em;
  margin: 1em;
}
.product-grid h2 {
  margin: 0;

  font-size: 1.2em;
}
.product-grid a {
  text-decoration: none;
}
.product-grid a:link,
.product-grid a:visited {
  color: var(--dark-grey);
}
.product-grid a:hover {
  text-decoration: underline;
}

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
  width: 80%;
  margin: auto;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
  text-align: right;
}

.cart-card__quantity input {
  width: 45px;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
  text-align: right;
}

.cartTotal {
  width: 80%;
  margin: auto;
  text-align: right;
}
/* search result */
.search-box {
  border: 1px solid #b7b5b5;
  height: 30px;
  width: 100%;
  background-color: white;
  border-radius: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.search-icon {
  padding-left: 15px;
}

.search-box input[type="text"] {
  border: none;
  margin-left: 20px;
  font-family: "Inter";
  width: 70%;
  border-radius: 20px;

}


.search-result:hover:last-child {
  border-bottom: none;
  /* border-radius: 0px 0px 20px 20px; */
}

.search-result {
  width: 100%;
  border-bottom: 1px solid #b7b5b5;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
 
}

.search-result:hover {
  background-color: #f7f7f7;
  font-size: 20px;
}

.search-box input[type="text"]:focus {
  outline-width: 0;
}

.search-results {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: auto;
  border-color: #b7b5b5;
  border-style: solid;
  background-color: white;
  border-width: 0px 1px 1px 1px;
  border-radius: 0px 0px 20px 20px;
  -webkit-box-shadow: 10px 13px 0px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 10px 13px 0px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 10px 13px 0px 0px rgba(0, 0, 0, 0.07);
  overflow-y: scroll;
  max-height: 200px;
}
.search-container a, .search-container p {
  /* border-bottom: 1px solid #b7b5b5; */
  background-color: white;
  text-align: center;
  text-decoration: none;
  color: black;
}

.search-container p {
  margin: 0;
  /* padding: 30px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
}

.search-container a:last-child {
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.search-container {
  border-radius: 20px;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 20px;
  z-index: 1;
  
}
main{
  /* position: absolute; */
  z-index: 10;

}
@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

.ribbon-container {
  background-color: rgba(255, 0, 0, 0.682);
  padding: 0.5rem;
  color: white;
  border-radius: 9px;
}

.price {
  color: red;
}
.discount {
  color: black;
}

.checkout-button:link, .checkout-button:visited{
  background-color: #525b0f;
  color: #f0a868;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}
.checkout-button:hover, .checkout-button:active{
  background-color: red;
}

#billing-info label{
  display: block;
  text-align: left;
  margin-left: 35px;
}

#billing-info {
  width: 80%;
  min-width: 400px;
  margin: auto;
  
}

#billing-info fieldset{
  width: 400px;
  margin: 25px auto;
  text-align: center;
  
}

.summary {
  width: 300px;
  text-align: right;
  margin: 20px auto;
  list-style-type: none;
}

#billing-info input, #billing-info select {
  width: 300px;
  margin: 0 auto 20px auto;
}

.alert {
  width: 400px;
  background: orange;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding:10px;
  margin: 5px auto;
}

.alert span {
  grid-column: 2;
  text-align: right;
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sldr-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #ddd;
  font-size: 18px;
}

.sldr-btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}